@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #08131f;
    color: white;
    font-size: 14px;
}

th, td {
    padding: 4px 16px;
}

tbody{
    background-color: #10263e;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #373;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #373;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .gradient-div {
    background: radial-gradient(circle, #153252, #08131f 72%);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.no-spinner {
  -moz-appearance: textfield; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none; /* Modern browsers */
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Remove arrows */
  margin: 0; /* Remove margin */
}

.hover-blue-black {
  background-color: #0e2135;
  display: inline-block;
  text-align: center;
  width: 160px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 300ms;
  box-shadow: 2px 2px 2px #080808;
}

.hover-blue-black:hover {
  background-color: #153252;
}